
@import url('https://fonts.cdnfonts.com/css/br-segma');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
*{
    padding: 0;
    margin: 0;
    list-style: none;
text-decoration: none;
background: none;
box-sizing: border-box;
border: none;


}
.npage{

    height: 400vh;
      background-color: rgb(42, 42, 42);
    
}

.fpage{
        background-image: url(https://cdn.wallpapersafari.com/97/26/VqcKAx.jpg);
min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

button,cursor,label,select,.submit{
    cursor: pointer;
}
header{  position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding:1%;
    background: rgba(0, 0, 0, 0.5);
}
header nav p:hover{
color:rgb(41, 255, 41);
transition: 0.3s;

    
}
header nav{
    display: flex;
    gap: 10px;
}
 header nav p{
    color: rgb(7, 197, 0);
    font-size: 35px;
 }
.support{
    font-size: 24px;
}
header h1{font-family: 'Minecraft', sans-serif;
    font-size: 70px;
    
color: rgb(196, 196, 196);
}

.description{margin-top: 19%;
    margin-left: 20%;

    color: white;
     padding: 40px;
 background: rgba(0, 0, 0, 0.5);

     max-width: 800px;
}
.description h2{
  font-family: 'BR Segma', sans-serif;
                                                
    font-size: 45px;
}
.description h4{
    font-family: 'BR Segma', sans-serif;
    font-size: 45px;
    max-width: 700px;
    
    color: rgba(255, 255, 255, 0.76);

}

.description a{font-family: 'BR Segma', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
   
}
.description a:hover{
    color: rgb(93, 93, 196);
    transition: 0.2s;
}
.info{
    color: white;
  padding: 30px;
 background: rgba(0, 0, 0, 0.5);
font-size: 30px;
     max-width: 800px;
  
}
.info h2{
      font-family: 'BR Segma', sans-serif;
                                                
    font-size: 45px;
}
.info h4{
       font-family: 'BR Segma', sans-serif;
    font-size: 30px;
    max-width: 700px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.76);
}




/* From Uiverse.io by JulanDeAlb */ 
.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
@media only screen and (max-width: 1500px) {
    .support{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .deskcont{
        grid-template-columns: 1fr;
    }
 

}
@media only screen and (max-width: 1200px) {
    .support{
        display: none;
    }
    .social{
        display: none;
    }
    .hamburger{
        display: block;
    }

}
.second{
   height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/84/68/xKO8X7.jpg);
    background-size: cover;
    padding: 7%;
}

.info p{ 
  
  font-family: "Google Sans Code", monospace;
 max-width: 1250px;
    font-size: 20px;
padding: 20px;
color: white;
}
.photo img{
    border-radius: 4px;

height: 50vh;
}
.text h2{
    font-size: 60px;

padding: 20px;
    color: white;
 background: rgba(0, 0, 0, 0.5);

}

.cont2{display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30Px;
}

@media only screen and (max-width: 1500px) {

 .cont2{
  grid-template-columns: 1fr;
 }

}
.third{
    background-image:url(https://images5.alphacoders.com/140/1401545.jpg);
background-repeat: no-repeat;
background-size: cover;
    padding: 15%;
}
.cont3{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.textuna ol li{     
 list-style-image: url(diamond.png);
 font-size: 55px;
color: rgb(255, 255, 255);
 

  font-family: "Google Sans Code", monospace;
}
.imgster img{
    
    
    border-radius: 50%;
  
 

}
.textuna h2{font-family: 'Minecraft', sans-serif;
    font-size: 80px;
color: rgb(180, 180, 255);
}

@media only screen and (max-width: 1500px) {

 .cont3{
    display: grid;
    grid-template-columns: 1fr;
 }

}
.form{
    background-color: rgb(42, 42, 42);
    padding-top: 10%;
   

  display: grid;
  

}
.form h1{
    font-family: 'Minecraft', sans-serif;
    color: white;
    font-size: 55px;
  
}
.form input{
    border: 2px solid white;
    border-radius: 4px;
padding: 5px;
width: 100%;
    max-width: 20%;
    display: flex;
    gap: 20px;
    margin-top: 5px;
 
}

.form label{
    color: white;
    font-family: 'Minecraft', sans-serif;

}
.submit{
    color: white;
}
.support1{
   
    font-size: 55px;
    display: flex;
    flex-direction: row;
    gap: 10px;
   
}
.support1 p{
    color: forestgreen;
   
}
.support1 p:hover{
    color: rgb(56, 231, 56);
    transition: 0.3s;
}

.social1{

    display: flex;
    flex-direction: row;
}
.yeho{margin-top: 10px;
  padding-left: 20px;
 
}
.farmer{

  padding-left: 20px;
}
.tsiscont{display: grid;
    grid-template-columns: 1fr;
}
.gc{margin-top: 30px;
    margin-left: 15px;
    display: flex;
    gap: 20px;
}
.gc a p{
    font-family: 'Minecraft', sans-serif;
    color: rgb(7, 197, 0);
    font-size: 35px;
}
.gc a p:hover{
color:rgb(41, 255, 41);
transition: 0.3s;

    
}
.magaricontaineri{
    margin-top: 12%;
}
























/*-------------------------------------------------------------------------------------------------------------- second body--------------------------------------------------------------------------------------------------------------------------- */


.spage{
   
   
      background-color: rgb(42, 42, 42);
       background-image: url(https://www.hdwallpapers.in/download/brown_and_green_square_4k_hd_abstract-2560x1440.jpg);
background-size: cover;
    background-repeat: no-repeat;
}
.mibombo{display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
      margin-top: 170px;
}
.stxt{display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
     background: rgba(0, 0, 0, 0.5);
     padding: 10px;
}
.stxt p{color: rgb(34, 181, 34);
    font-size: 25px;
    font-family: 'BR Segma', sans-serif;
}
.stxt h1{color: rgb(34, 181, 34);
    font-size: 48px;
    font-family: 'Minecraft', sans-serif;
}



.creterore{
    
    color: rgb(7, 197, 0);
    font-size: 35px;
}
.creterore:hover{
    

color:rgb(41, 255, 41);
transition: 0.3s;

}
@media only screen and (max-width: 1500px) {
.mibombo{
    flex-direction: column;
}
 

}



/*---------------------------------------------------------------------------- tpage---------------------------------------------------------------------------------- */


.tpage{
    background-repeat: no-repeat;
    background-image: url(https://wallpapercave.com/wp/wp8643134.jpg);
    background-size: cover;
}





.brochacho{display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
        margin-top: 360px;
}
.brotato{display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
     padding: 10px;
       background: rgba(0, 0, 0, 0.5);
}
.brotato p{color: rgb(34, 181, 34);
  
    font-family: 'BR Segma', sans-serif;
    font-size: 25px;
}
.brotato h1{color: rgb(34, 181, 34);
    font-size: 48px;  font-family: 'Minecraft', sans-serif;
    font-weight: 100;
}
.broim img{border: 2px solid black;
border-radius: 8px;


}


.gameplayer{
    
    color: rgb(7, 197, 0);
    font-size: 35px;
}
.gameplayer:hover{
    

color:rgb(41, 255, 41);
transition: 0.3s;

}

@media only screen and (max-width: 1500px) {
.brochacho{
    flex-direction: column;
}
 

}














